.-day-weather-foreca {
  width: 244px;
  height: 28px;
  margin-top: 2%;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3c3c3c;
}
.every-3-hours {
  width: 90px;
  height: 14px;
  margin-top: 2%;
  margin-left: 2%;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3c3c;
}

.cardGrau {
  width: 200px;
  height: 208px;
  padding-left: 0px;
  padding-right: 0px;
  width: 18rem;
  margin-left: 7%;
}

.grau {
  width: 80px;
  height: 40px;
  opacity: 0.75;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3c3c3c;
  border-left-width: 40px;
  margin-left: 65px;
}

.cards {
  width: 212px;
  height: 82px;
  background-color: #f0f0f0;
}
