<app-nav-bar></app-nav-bar>
<!-- Busca por cidade -->
<div class="jumbotron bg-primary text-white col-12" style="margin-bottom: -8%;">
  <div class="container">
    <div class="row justify-content-md-center">
      <h1 class="display-8">weather in your city</h1>
    </div>
    <div class="row justify-content-md-center">
      <form class="form-inline pesquisa" (submit)="submitLocation(cityName)">
        <div class="row">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your city name" #cityName aria-label="Input group example" aria-describedby="btnGroupAddon2">
            <div class="input-group-prepend">
              <button type="submit" class="input-group-text" id="btnGroupAddon2" #cityName><i class="bi bi-search"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Resultado da pesquisa -->
<div>
  <div class="row col justify-content-md-center">
    <div class="card base-copy" *ngFor="let weather of teste.list">
      <!-- Enviando id via parametro de url  -->
      <a href="/details/{{weather.id}}/{{weather.name}}">
        <div class="card-body">
          <div class="row">
            <div class="card col-3 base-copy-2">
              <p class="colorGrau">{{weather.main.temp}}º</p>
            </div>
            <div class="row col-4">
              <p class="text-primary">
                {{weather.name}} - {{weather.sys.country}}
              </p>
              <table class="table table-borderless align-self-center tableSetting">
                <tr>
                  <th class="text-black-50 tableSetting2">Máx</th>
                  <th class="text-info">{{weather.main.temp_max}}º</th>
                </tr>
                <tr>
                  <th class="text-black-50 tableSetting2">Mín</th>
                  <th class="text-info">{{weather.main.temp_min}}º</th>
                </tr>
              </table>
            </div>
            <div class="col-4" style="padding-top: 30px;">
              <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon }}.png" alt="Icon depicting current weather" />
              <p class="text-black-50"> {{weather.weather[0].description }}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>